@{
    bool cond = true;
    bool logedinUser = false;
    string linkTo = "Home";
    string numTokensID = Session["userID"] + "_tokens";
    if (Session["admin"] != null)
    {
        if ((bool)Session["admin"])
        {
            cond = false;
            linkTo = "Admin";
        }
    }

    if (Session["userID"] != null)
    {
        logedinUser = true;
    }

    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem { Text = "", Value = "0", Selected = true });

    items.Add(new SelectListItem { Text = "READY", Value = "1" });

    items.Add(new SelectListItem { Text = "OPEN", Value = "2" });

    items.Add(new SelectListItem { Text = "SOLD", Value = "3" });

    items.Add(new SelectListItem { Text = "EXPIRED", Value = "4" });

    ViewBag.AuctionStatus = items;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" />
    <!-- Theme color -->
    <link id="switcher" href="@Url.Content("~/Content/css/theme-color/lite-blue-theme.css")" rel="stylesheet">
    <!-- <link id="switcher" href="css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("~/Content/css/custom.css")" rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"de6091ca-ef4f-456a-93e3-84664d5f4571"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>    
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href='@Url.Action("Index", linkTo)' class="logo-link">
                                    <img src="@Url.Content("~/Content/img/logo.png")" class="img-responsive img-logo" alt="img_logo">
                                    <p>kupi<strong>Jeftino</strong> <span>Portal za aukcijsku prodaju</span></p>
                                </a>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                            </div>
                            <!-- / logo  -->
                            @if (logedinUser)
                            {
                                int numTokens = 0;
                                using(var context = new Veb_portal_za_aukcijsku_prodaju.Models.IEPVebAukcijaEntities7())
                                {
                                    Veb_portal_za_aukcijsku_prodaju.Models.Korisnik korisnik = context.Korisniks.Find(Session["userID"]);
                                    numTokens = (int)korisnik.BrojTokena;
                                }
                                
                                <!-- cart box -->
                                <div class="aa-cartbox">
                                    <a class="aa-cart-link" href="@Url.Action("ViewProfile", "Account")">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="aa-cart-title">@Session["userFullName"]</span>
                                        <span class="aa-cart-notify" id="@numTokensID">@numTokens</span>
                                    </a>
                                </div>
                                <!-- / cart box -->
                            }

                            <!-- search box -->
                            @if ((ViewBag.Title == "Početna") || (ViewBag.Title == "Admin panel"))
                            {
                                <div class="aa-search-box">                                    
                                                @using (Html.BeginForm("Index", linkTo, FormMethod.Get))
                                                {
                                                    @Html.Label("Status aukcije: ")
                                                    @Html.DropDownList("AuctionStatus")<br />
                                                    @Html.Label("Min cena: ")
                                                    @Html.TextBox("minP")
                                                    @Html.Label("Max cena: ")
                                                    @Html.TextBox("maxP")
                                                    @Html.Label("Naziv: ")
                                                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                                                    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                }                                                       
                                </div>
                            }
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    <section id="menu">
        <div class="container">
            <div class="menu-area">
                <!-- Navbar -->
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <!-- Left nav -->
                            <ul class="nav navbar-nav">
                                @if (cond)
                                {
                                    <li>@Html.ActionLink("Početna", "Index", "Home")</li>                                    
                                    <li><a href="#">O nama</a></li>
                                    <li><a href="#">Kontakt</a></li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Dodajte aukciju", "AddAuction", "Admin")</li>
                                    <li><a href="#">Otvorene aukcije</a></li>
                                }
                            </ul>
                            <!-- Right nav -->
                            @Html.Partial("_LoginPartial")
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / menu -->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Partial("_Footer")

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otherjs")
    @RenderSection("scripts", required: false)
</body>
</html>
